<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClienteService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2637/Service/ClienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteService"
                contract="Clientes.IClienteService" name="BasicHttpBinding_IClienteService" />
        </client>
    </system.serviceModel>
</configuration>